

<div class="hero">
	<br />
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1> Take the world's best courses, online </h1>
		<br />
		<h2> What would you like to learn about? </h2>
		<br />
		<%= link_to 'Learn More', courses_path, :class=>'btn btn-success' %>
		<br /><br />
	</div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-xs-4 booyah-box">
		<h3> Discover a Course </h3>
		<br/>
		<p> Choose from hundreds of courses created by the world's top educational institutions. Courses are open to anyone, and financial aid is available.</p>
		<br/>

	</div>
	<div class="col-xs-4 booyah-box">
		<h3> Learn on your own schedule </h3>
		<br />
		<p>Watch short video lectures, take interactive quizzes, complete peer graded assessments, and connect with fellow learners and instructors.</p>
	</div>
	<div class="col-xs-4 booyah-box">
		<h3> Achieve your goals </h3>
		<br />
		<p>Finish your course and receive formal recognition for your accomplishment with an optional Course Certificate.</p>
		<br />
		<br />
	</div>
</div>